name: Deploy to EC2

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:

  check-code-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run linting
        run: docker-compose up -d --build

  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Print sha_short value
        run: echo "sha_short=${{ needs.build-push-prod-image.outputs.sha_short }}"

      - name: Deploy to AWS-EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER_NAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          run: |
            sudo -i
            git clone https://github.com/viv2233/student-app.git
            cd student-app
            docker-compose up -d --build
