name: Deploy to EC2

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
      deploy:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout code
            uses: actions/checkout@v4

          - name: Deploy to Server via SSH
            uses: appleboy/ssh-action@v1.0.0
            with:
              host: ${{ secrets.SSH_HOST }}
              username: ${{ secrets.SSH_USERNAME }}
              key: ${{ secrets.SSH_PRIVATE_KEY }}
              script: |
                # Your commands to execute on the Linux server
                git clone https://github.com/viv2233/student-app.git
                cd student-app
                git pull origin main
                # Example: restart a service
                sudo systemctl restart your-service